@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  /* --primary: #081F5C; */
  --primary: #050329;
  --secondary: #081f5c;
  --ternary: #333a5c;
  --accent: #7096d1;
  --primary-light: #b6c7e0;
  --background-light: #e3f2fd;
  --white: #fff;
  --black: #000000;
  --gray: #4b5067;
}

/* Font family */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, sans-serif;
}

/* Override the autofill styles */
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #333a5c inset !important;
  -webkit-text-fill-color: white !important;
}

/* Flip card helpers */
.backface-hidden {
  backface-visibility: hidden;
}

.perspective-\[1000px\] {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* For booked slots on full calendar */
.fc-event.booked-slot {
  font-size: 0.7rem !important;
  cursor: not-allowed !important;
  pointer-events: none;
  border-radius: 2px;
}

/* Responsive calendar header */
.fc .fc-toolbar-title {
  font-size: 0.65rem; /* smaller title on mobile */
}

.fc .fc-button {
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
  height: auto;
}

@media (min-width: 750px) {
  .fc .fc-button {
    font-size: 0.75rem;
    padding: 0.375rem 0.75rem;
  }

  .fc .fc-toolbar-title {
    white-space: normal;
    font-size: 1rem;
  }
}

/* Make day names bold and dark blue */
.fc .fc-col-header-cell {
  color: var(--primary); 
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
}

/* Make the day names (Sun, Mon, etc.) smaller on small screens */
.fc .fc-col-header-cell-cushion {
  font-size: 0.75rem; /* adjust as needed */
  display: block;     /* ensure block so it can stack nicely */
  text-align: center;
}

/* Make the date numbers smaller on small screens */
.fc .fc-daygrid-day-number {
  font-size: 0.75rem; /* adjust as needed */
  display: block;
  text-align: center;
}